# ConfigArgParse allows using config files with argparse.
ConfigArgParse==0.14.0

# OpenAI Gym is de-facto standard for RL agent-environment interface.
# Note that Atari environments are not installed by default: run `pip install gym[atari]`.
gym==0.14.0

# PyTorch v1.1+ supports TensorBoard, and in v1.2 TensorBoard is no longer experimenteal.
torch==1.2.0

# TensorBoard v1.14+ supports PyTorch.
tensorboard==1.14.0

# Weights & Biases allows visualizing data online.
wandb==0.8.7

# coloredlogs provide colors to Python's logger.
coloredlogs==10.0
